@import "/css/shelf.css";
@import "/css/header.css";
@import "/css/footer.css";
@import "/css/card.css";
@import "/css/cart.css";
@import "/css/text.css";


.wrapper{
    width: 1270px;
    margin: auto;
    display: flex;
    flex-direction: row;

}



.button{
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 0.06em;
    border-radius: 100px;
    cursor: pointer;
    background: #F1CDB3;
    color: #292929;
    padding: 5px 10px 5px 10px;
    border: none;

}

button.button:hover{
    background: #FDDCC4;
    transition: all .3s ease-out;
}

.button_expand{
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 0.06em;
    padding: 15px;
    border-radius: 100px;
    cursor: pointer;
    color: #292929;
    border: none;
}
button.button_expand:hover{
    background: #FDDCC4;
    transition: all .3s ease-out;
}
