
.shelf{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    gap: 30px 30px;
    justify-content: center;

}
.book_card{
    width: 205px;
    height: 231px;
}
.book_image{
    width: 129px;
    height: 190px;
}
.inner_book_card{

}

.card{
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    background: #F6F6F6;
    border-radius: 9px;

}
.card_inner{
    display: flex;
    flex-direction: column;
    width: 220px;
}