@import "shelf.css";
@import "card.css";
@import "cart.css";
@import "placeholder.css";
@import "header.css";
@import "footer.css";
@import "modal.css";
@import "drag.css";
@import "checkout.css";


.body{
    margin: 0;
}
.wrapper{
    width: 1270px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

}



.button{
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 0.06em;
    border-radius: 100px;
    cursor: pointer;
    background: #C5E5A5;
    color: #292929;
    padding: 5px 10px 5px 10px;
    border: none;

}

button.button:hover{
    background: #98B66E;
    transition: all .3s ease-out;
}

.button_expand{
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 0.06em;
    padding: 15px;
    border-radius: 100px;
    cursor: pointer;
    color: #292929;
    border: none;
    background-image: url("icons/icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}
button.button_expand:hover{
    background: #98B66E;
    transition: all .3s ease-out;
    background-image: url("icons/icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.button_promo{
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 22.1px;
    letter-spacing: 0.06em;
    border-radius: 9px;
    cursor: pointer;
    background: #F9D876;
    color: #292929;
    padding: 10px 15px 10px 15px;
    border: 3px solid;
    max-width: 200px;
    margin-top: 20px;
    margin-left: 10px;
}

button.button_promo:hover{
    background: #98B66E;
    transition: all .3s ease-out;
    border: 3px solid #98B66E;
    /*#98B66E*/
}


.button_remove{
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 0.06em;
    padding: 15px;
    border-radius: 100px;
    cursor: pointer;
    color: #292929;
    border: none;
    transform: rotate(45deg);
    background-image: url("icons/icon.svg");
    background-repeat: no-repeat;
    background-position: center;

    width: 20px;
    height: 20px;
}
button.button_remove:hover{
    background: #E74536;
    transition: all .3s ease-out;
    background-image: url("icons/icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}