.card{
    display: flex;
    flex-direction: column;
    width: 360px;
    background: var(--card-bg);
    border-radius: 9px;
    padding: 10px;
    gap: 10px;
    cursor: grab;
}
.card_inner{
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 190px;
    justify-content: space-between;
}
.card_inner_wrapper{
    display: flex;
    gap: 10px;
}
.book_title{
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: var(--text-color-black);
    margin: 0;
}
.book_author{
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.06em;
    color: var(--title-color);
    margin: 0;
}
.book_price{
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin: 0;
}
.card_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.button_expand{
    width: 20px;
    height: 20px;
}