.footer_git{
    width: 24px;
    height: 24px;
    background-image: url("../icons/markgithub.svg");
    display: inline-flex;
    background-repeat: no-repeat;
    background-position: center;
}
.footer_year{
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 22.1px;
    letter-spacing: 0.06em;
}
.footer_inner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--footer-bg);
}