.header{
    background-color: var(--main-bg-color);
    background-size: cover;
    gap: 154px;
    height: 1023px;
}

.header-promo-img{
    width: 260px;
    height: 260px;
    margin-top: 316px;
    margin-left: 127px;

}

.header-wrapper{
    margin-top: 320px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 3px;
}

.header-title{
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 22.1px;
    letter-spacing: 0.06em;
    margin-bottom: 45px;
}

.header-description{
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 22.1px;
    letter-spacing: 0.06em;
    width: 569px;
    margin: 0;
    margin-left: 10px;
}